<h1>Contact us</h1>

<form method="post" action="send-inquiry">
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" value="" required>
    <br>
    <label for="email">Email</label>
    <br>
    <input type="text" name="email" value="" required>
    <br>
    <label for="phone">Phone</label>
    <br>
    <input type="text" name="phone" value="" required>
    <br>
    <label for="inquiry">Inquiry</label>
    <br>
    <textarea name="inquiry"></textarea required>
    <br>
    <input type="submit" value="Submit">
</form>